<div class="split-content horizontal">
  <app-content-block [heading]="'exchange_credentials.exchange_credential_info' | translate">
    <form [formGroup]="form">
      <app-input-item
        class="form-item"
        fieldType="autocomplete"
        [label]="'exchange_credentials.exchange' | translate"
        [formGroup]="form"
        formControlName="exchange"
        [items]="exchanges"
        [spinnerLoading]="exchangesLoading" 
        [placeholder]="'exchange_credentials.select_exchange' | translate"
        bindValue="id"
        bindLabel="name"
        (selectChange)="loadFields()"
      ></app-input-item>

      <ng-container *ngIf="fieldsWithoutApiKey">
        <app-input-item
          *ngIf="form.controls.api_key"
          class="form-item"
          [label]="'exchange_credentials.fields.api_key' | translate"
          [formGroup]="form"
          formControlName="api_key"
          [placeholder]="'exchange_credentials.enter_username' | translate"
        ></app-input-item>


        <div *ngIf="isEdit && !showAllField">
          <app-btn
            [thinner]="true"
            (onClick)="showAllField = true"
          >{{ 'exchange_credentials.edit_credential' | translate }}</app-btn>
        </div>

        <ng-container *ngIf="!isEdit || showAllField">
          <app-input-item
            *ngFor="let field of fieldsWithoutApiKey"
            class="form-item"
            [type]="(field.field_name == 'password' || field.field_name == 'api_secret') ? 'password' : 'text'"
            [label]="field.title | translate"
            [formGroup]="form"
            [formControlName]="field.field_name"
            [placeholder]="'exchange_credentials.placeholder.' + field.field_name | translate"
          ></app-input-item>
        </ng-container>
      </ng-container>
    </form>
  </app-content-block>
</div>

<app-form-action-bar>
  <ng-container *ngIf="isEdit">
    <app-btn
      [grey]="true"
      (click)="openDeleteConfirm()"
      [loading]="deleteLoading"
      [disabled]="deleteLoading"
    >{{ 'common.delete' | translate }}</app-btn>
  </ng-container>
  
  <app-btn
    extraClass="submit"
    (click)="addCredentional()"
    [appMarkAsTouched]="form"
    [loading]="loading"
    [disabled]="loading"
  >
    <ng-container *ngIf="isEdit">
      {{ 'common.save' | translate }}
    </ng-container>
    <ng-container *ngIf="!isEdit">
      {{ 'exchange_credentials.add_credential' | translate }}
    </ng-container>
  </app-btn>
</app-form-action-bar>


<app-confirm
  *ngIf="showDeleteConfirm"
  [heading]="'exchange_credentials.credential_delete_confirm_msg' | translate"
  (onReject)="closeDeleteConfirm()"
  (onConfirm)="deleteCredentional()"
></app-confirm>
