<div class="top-controls">
  <span class="headline-title">{{count}} {{'exchange_credentials.header' | translate}}</span>
  <a [routerLink]="['/exchange_credentials/add']" class="btn start">
    <span>{{'exchange_credentials.add_credential' | translate}}</span>
  </a>
</div>

<app-data-table
  [dataSource]="exchangeCredentialsDataSource"
  [columnsToShow]="exchangeCredentialsColumnsToShow"
  [loading]="isTableLoading"
  (setFilter)="onSetFilter($event)"
  (openRow)="openRow($event)"
></app-data-table>

<app-pagination 
  [count]="count"  
  [perPage]="pageSize" 
  [page]="page"
  [loading]="isTableLoading"
></app-pagination>
