<app-page-heading *ngIf="pageTitle" [heading]="pageTitle">
  <ul class="dashboard-item-details">
    <li *ngFor="let item of tagLine">
      <a (click)="doItemAction(item)">{{ item.title }}</a>
    </li>
  </ul>
</app-page-heading>

<div class="left-part-dashboard">
  <div class="top-controls">
    <span  class="headline-title">{{ singleTitle }}</span>
    <a
      *ngIf="showGenerateOrders"
      class="btn start"
      [class.disabled]="disableGenerateOrders"
      (click)="!disableGenerateOrders && generateOrders()"
    >
      <span>{{ 'orders.generate_orders' | translate }}</span>
    </a>
  </div>

  <app-data-table
    *ngIf="singleDataSource"
    [dataSource]="singleDataSource"
    [columnsToShow]="singleColumnsToShow"
    [emptyText]="singleTableEmptyText | translate"
    (openRow)="openSingleRow($event)"
  ></app-data-table>

  <div class="top-controls" *ngIf="extraTableTitle">
    <span class="headline-title">{{ extraTableTitle }}</span>
  </div>

  <app-data-table
    *ngIf="extraTableDataSource"
    [dataSource]="extraTableDataSource"
    [columnsToShow]="extraTableColumnsToShow"
  ></app-data-table>
  
  <div class="top-controls" *ngIf="listTitle">
    <span class="headline-title">{{ listTitle }}</span>
  </div>

  <app-data-table
    *ngIf="listDataSource"
    [dataSource]="listDataSource"
    [columnsToShow]="listColumnsToShow"
    [emptyText]="listTableEmptyText | translate"
    [loading]="isTableLoading"
    (setFilter)="onSetFilter($event)"
    (openRow)="openListRow($event)"
  ></app-data-table>

  <app-pagination
    [count]="count"
    [perPage]="pageSize"
    [page]="page"
    [loading]="isTableLoading"
  ></app-pagination>

  <div class="top-controls" *ngIf="detailTableTitle">
    <span class="headline-title">{{ detailTableTitle }}</span>
    <a *ngIf="addTitle" (click)="addAction()" class="btn start">
      <span>{{ addTitle }}</span>
    </a>
  </div>

  <app-data-table
    *ngIf="detailTableDataSource"
    [dataSource]="detailTableDataSource"
    [columnsToShow]="detailTableColumnsToShow"
  ></app-data-table>

  <app-action-log
    *ngIf="logsSource"
    [title]="logsTitle"
    [source]="logsSource"
  ></app-action-log>
</div>

<!-- If there is no step-labels, hide whole container -->
<div class="step-labels-container">
  <app-timeline [timelineEvents]="timeline$ | async"></app-timeline>
</div>

<app-modal *ngIf="rationaleModalIsShown" (close)="hideRationaleModal()">
  <app-rationale-modal [data]="rationaleData" (close)="submitRationale($event)"></app-rationale-modal>
</app-modal>

<app-modal
  class="modal-rationale"
  *ngIf="readModalIsShown"
  [heading]="readData?.title"
  (close)="hideReadModal()"
>
  <div>
    <textarea readonly>{{ readData?.content }}</textarea>
  </div>
  <div>
    <app-btn class="right" (onClick)="hideReadModal()">{{ 'common.done' | translate }}</app-btn>
  </div>
</app-modal>
