.new {
    float: right;
}

.display-inline {
    padding: 0px 10px;
    width: 50%;
    display: inline-block;
    position: relative;
}

.input-padding {
    padding: 10px 10px;
}

.margin-bottom {
    margin-top: 10px;
    padding: 10px 10px;
    margin-bottom: 30px;
}