<app-modal
  [heading]="'investment.start_new_run' | translate"
  (close)="onClose()"
>
  <div *ngIf="!next_step">
    <form class="select-box">
      <label class="label">{{'investment.please_select_investment_mode' | translate}}</label>
      <div class="checkboxes-modal-wrap">
        <app-button-radio
          class="checkboxes-modal"
          name="is_simulated"
          [value]="false"
          label="Real-time"
          (change)="onChangeMode(false)"
        ></app-button-radio>
        <app-button-radio
          class="checkboxes-modal"
          name="is_simulated"
          [value]="true"
          label="Simulated"
          (change)="onChangeMode(true)"
        ></app-button-radio>
      </div>
    </form>
    
    <form class="select-box" *ngIf="strategies">
      <label class="label">{{'investment.please_select_investment_run_portfolio' | translate}}</label>
      <div class="checkboxes-modal-wrap">
        <div class="display-inline" *ngFor="let item of strategies">
          <app-button-radio
            class="checkboxes-modal"
            name="portfolio"
            value={{item[0]}}
            label={{item[0]}}
            (change)="onChangePortfolio(item)"
          ></app-button-radio>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="next_step" class="step-box step1">
    <br>
    <form [formGroup]="runForm" (ngSubmit)="Confirm()">
      <div class="checkboxes-modal-wrap input-padding">
        <app-input-item class="form-item label"
          [label]="'investment.total_investment_amount' |translate"
          [placeholder]="'investment.enter_usd' |translate"
          [formGroup]="runForm"
          formControlName='deposit_usd'
          type="number"
          name='USD'
          [(ngModel)]="amount.deposit_usd">
        </app-input-item>
      </div>
      <!-- <div class="checkboxes-modal-wrap">
      <div class="display-inline">
      <app-input-item class="form-item label"
        [label]="'investment.amount_in_btc' |translate"
        [placeholder]="'investment.enter_btc' |translate"
        [formGroup]="runForm"
        formControlName='deposit_btc'
        type = "number"
        name='BTC'
        [(ngModel)]="amount.deposit_btc">
      </app-input-item>
      </div>
      <div class="display-inline">
      <app-input-item class="form-item label"
        [label]="'investment.amount_in_eth' |translate"
        [placeholder]="'investment.enter_eth' |translate"
        [formGroup]="runForm"
        formControlName='deposit_eth'
        type = "number"
        name='ETH'
        [(ngModel)]="amount.deposit_eth">
      </app-input-item>
      </div>
      </div> -->
      <div class="margin-bottom">
        <button class="btn new" type="submit">{{'common.confirm' |translate}}</button>
      </div>
    </form>
  </div>
</app-modal>