<app-page-heading *ngIf="userId"
  [heading]="userName"
></app-page-heading>

<app-page-heading *ngIf="!userId"
  [heading]="'users.add_new_user' | translate"
></app-page-heading>

<form [formGroup]="userForm">
  <div class="split-content">
    <app-content-block 
      heading="User information" 
      class="part boxShadow">

      <app-input-item 
        class="form-item"
        [label]="'users.name' | translate"
        [placeholder]="'users.enter_name' | translate"
        [formGroup]="userForm"
        formControlName="firstName"
      ></app-input-item>

      <app-input-item
        class="form-item"
        [label]="'users.surname' | translate"
        [placeholder]="'users.enter_surname' | translate"
        [formGroup]="userForm"
        formControlName="lastName"
      ></app-input-item>

      <app-input-item
        class="form-item"
        [label]="'users.email' | translate"
        [placeholder]="'users.enter_email' | translate"
        [formGroup]="userForm"
        formControlName="email"
        [readonly] = true
      ></app-input-item>
    </app-content-block>

    <app-content-block 
      [heading]="'users.user_roles' | translate" 
      *ngIf="rolelist"
      class="part boxShadow">
      <app-input-item-error-message
      *ngIf="userForm.controls.roleId.invalid && (userForm.controls.roleId.dirty || userForm.controls.roleId.touched)"
      [errorMessage]="'Role must be selected'"
      ></app-input-item-error-message>
      <div class="check-list" *ngIf="rolelist">
        <div class="checkboxes-item" *ngFor="let role of rolelist">
          <label class="label-name">{{ role.name }}</label>
          <app-button-checkbox 
          class="checkboxes-modal"
          [checked]="role.isActive"
          [value]="role.id"
          labelTrue="Select"
          labelFalse="Select"
          (onToggle)="addRole(role)"
        ></app-button-checkbox>
      </div>
    </div>
    </app-content-block>
  </div>
</form>
<div class="sticky-controls-bar">
  <div class="wrapper">
     <app-form-action-bar>
        <button
          *ngIf="userId"
          [disabled]="loading"
          class="btn deactive"
          (click)="showModal()"
          [appMarkAsTouched]="userForm"
        >
         <ng-container *ngIf="buttonName">{{ buttonName }}</ng-container>
        </button>
        
        <button
        class="btn submit"
        [disabled]="loading"
        (click)="saveUser()"
        [appMarkAsTouched]="userForm"
        >{{ 'common.submit' | translate }}</button>
    </app-form-action-bar>
    
    <app-confirm
      *ngIf="showDeactivateConfirm" 
      [heading]="'users.user_deactivate_confirm_msg' | translate: {buttonName: buttonName}" 
      (onReject)="closeDeactivateConfirm()"
      (onConfirm)="deactivateUser()"
    ></app-confirm>
  </div>
</div>