<app-page-heading
  [heading]="'instruments.instrument_mapping' | translate"
></app-page-heading>

<app-data-table
  [dataSource]="instrumentDataSource"
  [columnsToShow]="instrumentColumnsToShow"
></app-data-table>

<ng-container *ngIf="mappingDataSource && mappingColumnsToShow">
  <div class="top-controls">
    <span class="headline-title">{{ 'exchanges.mapping' | translate }}</span>
    <a
      class="btn start"
      [class.deactive]="!canAddNewMapping()"
      (click)="addNewMapping()"
    >
      <span>{{ 'exchanges.new_mapping' | translate }}</span>
    </a>
  </div>

  <app-data-table
    [dataSource]="mappingDataSource"
    [columnsToShow]="mappingColumnsToShow"
    [rowClass]="rowClass"
  ></app-data-table>
</ng-container>

<app-form-action-bar>
  <button
    class="btn submit"
    [disabled]="loading || noChanges"
    (click)="saveMapping()"
  >{{ 'common.save_changes' | translate }}</button>
</app-form-action-bar>


<app-confirm
  *ngIf="showDeleteExchangeMappingConfirm"
  [heading]="'exchanges.exchange_delete_confirm_msg' | translate" 
  (onReject)="closeDeleteConfirm()"
  (onConfirm)="deleteExchangeMapping($event)"
></app-confirm>
