<div class="login-block">
  <div class="top">
    <img [src]="imageLogo" class="logo">
  </div>
  <form (ngSubmit)="authenticate()" action class="the-form login-form" [formGroup]="loginForm">
   
   <app-input-item class="form-item with-icons icon-login"
        placeholder="Login"
        [formGroup]="loginForm"
        formControlName="Firstname"
        [(ngModel)]="username">
    </app-input-item>
    <app-input-item class="form-item with-icons icon-password"
        placeholder="Password"
        type = "password"
        [formGroup]="loginForm"
        formControlName="Lastname"
        [(ngModel)]="password">
    </app-input-item>
    <a (click)="showPassReset()" class="forgot-pass">Forgot password?</a>
    <p *ngIf= !loading>
      {{ status }}
    </p>
    <div class="btn-wrap btn-right">
        <button class="btn" [disabled] = loading type="submit">Login</button>
    </div>
  </form>
</div>

<app-modal *ngIf="showPasswordReset" (close)="hidePassReset()" heading="Please enter your Email">
    <div *ngIf="!password_reset_sent">
      <form [formGroup]="loginForm2">
          <span class="label label-after-title">We will contact you soon</span>
          <app-input-item class="form-item"
            placeholder="Enter email"
            type = "text"
            [formGroup]="loginForm2"
            formControlName="Email"
            [(ngModel)]="reset_email">
          </app-input-item>
        <!--<p *ngIf=!loading2>{{ password_reset_status }}</p>-->
        <div class="btn-wrap btn-right">
            <br>
            <button class="btn submit" [disabled] = loading2 type="submit" (click)="requestPasswordReset()">Submit</button>
         </div>
      </form>
    </div>
    <div *ngIf="password_reset_sent">
      <span class="label label-after-title">If this user exists, then a confirmation link will shortly be sent to {{reset_email}}
      <br><br>Please check your inbox.</span>
    </div>
</app-modal>
