<app-page-heading
  [heading]="'liquidity.liquidity_requirements' | translate"
></app-page-heading>

<app-data-table
  [dataSource]="liquidityDataSource"
  [columnsToShow]="liquidityColumnsToShow"
></app-data-table>

<ng-container *ngIf="exchangesDataSource && exchangesColumnsToShow">
  <div class="top-controls">
    <span class="headline-title">{{ 'exchanges.exchanges' | translate }}</span>
  </div>

  <app-data-table
    [dataSource]="exchangesDataSource"
    [columnsToShow]="exchangesColumnsToShow"
  ></app-data-table>
</ng-container>


<app-form-action-bar>
  <app-btn
    extraClass="deactive"
    (click)="openDeleteConfirm()"
    [loading]="deleteLoading"
    [disabled]="deleteLoading"
  >{{ 'common.delete' | translate }}</app-btn>
</app-form-action-bar>

<app-confirm
  *ngIf="showDeleteConfirm"
  [heading]="'liquidity.liquidity_delete_confirm_msg' | translate"
  (onReject)="closeDeleteConfirm()"
  (onConfirm)="deleteLiquidity()"
></app-confirm>
