<app-page-heading
  [heading]="'roles.add_new_role' | translate"
></app-page-heading>

<div class="split-content horizontal">
  <app-content-block
    [heading]="'roles.role_information' | translate"
  >
    <app-input-item
      type="text"
      class="form-item"
      [label]="'roles.name' | translate"
      [placeholder]="'roles.enter_role_name' | translate"
      [(ngModel)]="role.name"
    ></app-input-item>
  </app-content-block>

  <app-content-block [heading]="'roles.permissions' | translate">
    <div class="no-padding-top-bottom">
      <div class="permision-list">
        <div class="checkboxes-item" *ngFor="let permBlock of permissionsMap.data; let i = index">
          <label class="label-name">{{ permBlock.name }}</label>
          <div class="checkboxes-modal">
            <app-button-checkbox 
              [value]="i" 
              [checked]="permissionsBlocksCheckboxMap[i]" 
              labelTrue="Select all" 
              labelFalse="Select all"
              (onToggle)="onPermissionBlockToggle($event)"></app-button-checkbox>
          </div>
          <div class="checkboxes-list">
            <app-checkbox *ngFor="let perm of permBlock.permissions" 
              [value]="perm.code" 
              [label]="perm.name" 
              [checked]="permissionsCheckboxMap[perm.code]"
              (onToggle)="onPermissionToggle($event)">
            </app-checkbox>
          </div>
        </div>
      </div>
    </div>
  </app-content-block>
</div>

<app-form-action-bar>
  <div *ngIf="roleId">
    <button class="btn deactive" 
      [disabled]="loading" 
      (click)="showDeleteConfirm = true"
    >{{ 'common.delete' | translate }}</button>
    <button class="btn submit" 
      [disabled]="loading" 
      (click)="saveRole()"
    >{{ 'common.submit' | translate }}</button>
  </div>

  <div *ngIf="!roleId">
    <button
      class="btn submit"
      [disabled]="loading"
      (click)="addRole()"
    >{{ 'common.submit' | translate }}</button>
  </div>
</app-form-action-bar>

<app-confirm
  *ngIf="showDeleteConfirm"
  [heading]="'roles.role_delete_confirm_msg' | translate" 
  (onReject)="closeDeleteConfirm()"
  (onConfirm)="deleteRole()">
</app-confirm>
