<app-content-block
  heading="Enter role information"
>
  <label>Role name</label>
  <input type="text" [(ngModel)]="role.name">
</app-content-block>

<app-content-block
  heading="Permissions"
>
  <div *ngFor="let permBlock of permissionsMap.data; let i = index">
    <h3>{{ permBlock.name }}</h3>

    <app-button-checkbox
      [value]="i"
      [checked]="permissionsBlocksCheckboxMap[i]"
      labelTrue="Selected"
      labelFalse="Select all"
      (onToggle)="onPermissionBlockToggle($event)"
    ></app-button-checkbox>

    <app-checkbox
      *ngFor="let perm of permBlock.permissions"
      [value]="perm.code"
      [label]="perm.name"
      [checked]="permissionsCheckboxMap[perm.code]"
      (onToggle)="onPermissionToggle($event)"
    ></app-checkbox>
  </div>
</app-content-block>

<app-form-action-bar>
  <div center>
    <button
      [disabled]="loading"
      (click)="addRole()"
    >Add role</button>
  </div>
</app-form-action-bar>