<div class="pagination" *ngIf="count > 0">
  <ul class="pager-nav left-nav">
    <li>
      <button 
        (click)="onFirst()"
        [disabled]="page == 1"
        class="to-jump item"
        [class.disabled]="page == 1"
      >{{ 'common.pagination.first' | translate }}</button>

      <button
        [disabled]="page == 1"
        (click)="onPrev()"
        class="prev item"
        [class.disabled]="page == 1"
      ></button>
    </li>
  </ul>

  <ul class="pages">
    <a
      *ngFor="let pageNum of getPages()"
      (click)="onPage(pageNum)"
      class="item"
      [class.active]="pageNum == page"
    >{{ pageNum }}</a>
  </ul>

  <ul class="pager-nav right-nav">
    <li>
      <button
        (click)="onNext()"
        [disabled]="isLastPage()"
        class="next item"
        [class.disabled]="isLastPage()"
      ></button>

      <button
        (click)="onLast()"
        [disabled]="isLastPage()"
        class="to-jump item"
        [class.disabled]="isLastPage()"
      >{{ 'common.pagination.last' | translate }}</button>
    </li>
  </ul>
</div>