.data-table {
    width: 100%;
    margin-top: 20px;
    //table-layout: fixed;

    &.shrinked {
        td, th {
            span {
                width: 100%;
            }
        }
    }

    thead {
        background: $gray;

        th {
            height: 40px;
            text-align: left;
            color: #fff;
            font-size: 11px;
            text-transform: uppercase;
            position: relative;

            &:first-child {
                border-top-left-radius: 3px;
            }

            &:last-child {
                border-top-right-radius: 3px;
            }

            &.highlight {
                background-color: #8ea5b1;
            }
        }
    }

    td, th {
        position: relative;
        padding-left: 20px;
        height: 50px;
        transition: background-color .2s;

        &:last-child {
            padding-right: 20px;
            text-align: right;
            padding-left: 0;

            span {
                width: 100%;
            }
        }

        span {
            display: inline-block;
            width: 80%;
        }

        // .filter-button {
        //     display: flex;
        //     align-items: center;

        //     span {
        //         flex-basis: 0;
        //     }
        // }

        &.sortable {
            cursor: pointer;
        }

        &.sort-open {
            .sort-arrow {
                transform: rotate(180deg);
            }
        }

        .selectable {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            cursor: pointer;
        }

    }

    tbody {
        tr {
            border-bottom: 1px solid #DFE4E6;
            background: #fff;
            cursor: pointer;

            &:last-child {
                border-bottom: 0;
            }

            &.hidden {
                display: none;
            }

            // custom color modifiers
            &.color-black {
                td {
                    background-color: #6b6b6b;
                    color: #fff;

                    &.highlight {
                        background-color: lighten(#6b6b6b, 10%);
                    }
                }
            }
            &.color-gray {
                td {
                    background-color: #aeaeae;
                    color: #f2f2f2;

                    &.highlight {
                        background-color: lighten(#aeaeae, 10%);
                    }
                }
            }

            td {
                &.highlight {
                    background-color: #f2f2f4;
                }
            }
        }
    }

    tfoot {
        tr {
            background: #EAEEF0;
            color: $gray;
            font-weight: 700;

            td {
                &:first-child {
                    border-bottom-left-radius: 3px;
                }

                &:last-child {
                    border-bottom-right-radius: 3px;
                }

                &.highlight {
                    background-color: #e4e8eb;
                }
            }
        }
    }

    .sort-arrow {
        width: 8px;
        height: 8px;
        display: inline-block;
        @include backgroundC("icons/table-filter-arrow.svg");
        margin-left: 4px;
    }
}
