<div class="top-controls">
  <span class="headline-title">{{'users.headline' | translate: {count: count} }}</span>
  <a [routerLink]="['/users/add']" class="btn start">
    <span>{{'users.add_new_user' | translate}}</span>
  </a>
</div>

<app-data-table
  [dataSource]="usersDataSource"
  [columnsToShow]="usersColumnsToShow"
  [loading]="isTableLoading"
  (setFilter)="onSetFilter($event)"
  (openRow)="openRow($event)">
</app-data-table>

<app-pagination 
  [count]="count"  
  [perPage]="pageSize" 
  [page]="page">
</app-pagination>