<table class="data-table">
  <thead *ngIf="dataSource.header?.length > 0">
    <tr>
      <th *ngFor="let item of dataSource.header">
        <a
          (click)="filterMap[item.column] = !filterMap[item.column]"
        >
          {{item.name}}
          <div class="sort-arrow"></div>
          <span
            *ngIf="item.filter"
            [class.ucaret]="filterMap[item.column]"
            [class.dcaret]="!filterMap[item.column]"
          ></span>
        </a>
        <app-data-table-filter
          *ngIf="item.filter"
          [hidden]="!item.filter || !filterMap[item.column]"
          [column]="item.column"
          [type]="item.filter.type"
          [sortable]="item.filter.sortable"
          [rowData]="item.filter.rowData"
          (onFilter)="onSetFilter($event); filterMap[item.column] = !filterMap[item.column]"
        ></app-data-table-filter>
      </th>
    </tr>
  </thead>

  <ng-content *ngIf="customRows; else defaultRows">
  </ng-content>

  <ng-template #defaultRows>
    <tr *ngFor="let item of dataSource.body"
    [style.background-color]="getRowBackgroundColor(item)"
    [style.color]="getRowTexColor(item)"
    (click)="onOpenRow(item)">
      <td *ngFor="let index of columnsToShow">
        <ng-container *ngIf="columnIsBasic(index); else dynamicColumn">
          {{ item[index] || '-' }}
        </ng-container>
        <ng-template #dynamicColumn>
          <ndc-dynamic [ndcDynamicComponent]="index.component"
            [ndcDynamicInputs]="dynamicInputs(index, item[index.column], item)"
            [ndcDynamicOutputs]="dynamicOutputs(index)"></ndc-dynamic>
        </ng-template>
      </td>
    </tr>
  </ng-template>


  <tfoot *ngIf="dataSource.footer?.length > 0">
    <tr>
      <td *ngFor="let item of dataSource.footer">
        {{item}}
      </td>
    </tr>
  </tfoot>
</table>
