.table-order-button {
    .ucaret:before {
        content: "\25b4";
    }

    .dcaret:before {
        content: "\25be";
    }
}
.empty-col {
  color: #78909C;
  text-align: center !important;
  span {
    margin: 0 auto;
    width: auto;
  }
}
.upper-case{
    text-transform: uppercase;
}
