<div class="top-controls">
  <span class="headline-title">{{ count }} {{ 'instruments.instruments' | translate }}</span>
  <a [routerLink]="['/instruments/create']" class="btn start">
    <span>{{ 'instruments.add_instrument' | translate }}</span>
  </a>
</div>

<app-data-table
  [dataSource]="instrumentsDataSource"
  [columnsToShow]="instrumentsColumnsToShow"
  [loading]="isTableLoading"
  (setFilter)="onSetFilter($event)"
  (openRow)="openRow($event)"
></app-data-table>

<app-pagination
  [count]="count"
  [perPage]="pageSize"
  [page]="page"
></app-pagination>