.dashboard-item-status {
    margin-bottom: 40px;
    .title {
        font-size: 32px;
        color: #000000;
        letter-spacing: 0;
        padding-left: 25px;
        position: relative;

        &::before {
            content: "";
            width: 15px;
            height: 21px;
            @include backgroundC("/../../assets/img/icons/dashboard-title-back.svg");
            position: absolute;
            top: 11px;
            left: 0;
        }
    }

    .dashboard-item-details {
        padding-left: 25px;

        li {
            display: inline-block;
            vertical-align: middle;
            padding: 0 12px;
            position: relative;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                &:after {
                    content: none;
                }
            }

            &:after {
                content: "";
                width: 1px;
                height: 13px;
                background: #DDE4E6;
                position: absolute;
                top: 4px;
                right: 0;
            }

            a {
                font-weight: 600;
                font-size: 13px;
                color: #78909C;
                letter-spacing: 0;
                position: relative;

                &::after {
                    content: "";
                    width: 100%;
                    height: 2px;
                    opacity: 0.2;
                    background: #78909C;
                    position: absolute;
                    left: 0;
                    bottom: -3px;
                }
            }
        }
    }
}

.left-part-dashboard {
    max-width: 900px;
    width: 100%;
    float: left;

    .top-controls {
        margin-top: 40px;
    }
}

.rationale-status {
    opacity: 0.7;
    background: #F7F9FA;
    border: 1px solid rgba(120,144,156,0.20);
    height: 27px;
    border-radius: 27px;
    font-weight: 600;
    font-size: 11px;
    color: $gray;
    letter-spacing: 0;
    text-align: center;
    line-height: 25px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
}
