.login-block {
    background: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.05);
    border-radius: 3px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 110px;
    padding: 40px 60px 50px 60px;

    .login-form {
        margin-top: 55px;
    }

    .top {
        display: inline-block;
        width: 100%;
        text-align: left;
    }

    .logo {
        width: 202px;
        height: 56px;
        display: inline-block;
    }

    .forgot-pass {
        float: right;
        margin-top: 5px;
    }

    .btn-wrap {
        margin-top: 25px;

        .btn {
            float: right;
            min-width: 135px;
        }
    }
}
