<div *ngIf="token.validityChecked" class="login-block">
  <div class="top">
    <img [src]="imageLogo" class="logo">
  </div>

  <div *ngIf="token.isValid">
    <form (ngSubmit)="changePassword()" action class="login-form" [formGroup]="resetForm">
      <div class="part-header">{{ 'auth.enter_your_new_password' | translate }}</div>

      <app-input-item
        type="password"
        class="form-item with-icons icon-password"
        [placeholder]="'auth.enter_new_password' | translate"
        [formGroup]="resetForm"
        formControlName="new_password"
      ></app-input-item>
      <app-input-item
        type="password"
        class="form-item with-icons icon-password"
        [placeholder]="'auth.enter_new_password' | translate"
        [formGroup]="resetForm"
        formControlName="password_confirm"
      ></app-input-item>

      <p>{{ status }}</p>

      <div class="btn-wrap btn-right">
        <button
          class="btn"
          type="submit"
          [disabled]="loading"
          [appMarkAsTouched]="resetForm"
        >{{'common.change_password' | translate}}</button>
      </div>
    </form>
  </div>
</div>
