<div class="login-block" *ngIf="token.validityChecked">
  <div class="top">
    <img [src]="imageLogo" class="logo">
  </div>

  <div *ngIf="token.isValid">
    <form *ngIf="resetForm" (ngSubmit)="changePassword()" action class="the-form login-form" [formGroup]="resetForm">
      <div class="part-header">{{'auth.enter_your_new_password' | translate}}</div>

      <app-input-item
        type = "password"
        class="form-item with-icons icon-password"
        [placeholder]="'auth.enter_new_password' | translate"
        [formGroup]="resetForm"
        formControlName="New"
        [(ngModel)]="pass.new_password"
      ></app-input-item>
      <app-input-item
        type = "password"
        class="form-item with-icons icon-password"
        [placeholder]="'auth.enter_new_password' | translate"
        [formGroup]="resetForm"
        formControlName="Repeat"
        [(ngModel)]="pass.repeat_repeat"
      ></app-input-item>

      <p>{{ status }}</p>

      <div class="btn-wrap btn-right">
        <button class="btn" type="submit">{{'common.change_password' | translate}}</button>
      </div>
    </form>
  </div>
</div>
