<div>
  <div *ngIf="!done">
    <div *ngIf="token.validityChecked">
      <div *ngIf="!token.isValid">
        {{ status }}
      </div>
      <div *ngIf="token.isValid">
        Enter your new password
        <form (ngSubmit)="changePassword()">
          <p>
            <label for="pwd">New password</label>
            <br>
            <input [(ngModel)]="pass.new_password" name="pwd" type="password">
          </p>
          <p>
            <label for="pwd_repeat">Repeat new password</label>
            <br>
            <input [(ngModel)]="pass.repeat_repeat" name="pwd_repeat" type="password">
          </p>
          <p>{{ status }}</p>
          
          <button type="submit">Change password</button>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="done">
    Successfully changed your password.
    <br>
    You can now login 
    <button routerLink="/login" md-button>Go to login page</button>
  </div>
</div>
