<div class="modal-rationale">
  <ng-container [ngSwitch]="screen">
    <ng-container *ngSwitchCase="'INPUT'">
      <span class="modal-title">Rationale needs to be given</span>
      <div class="select-box">
        <span class="label">Please enter your rationale and submit your action</span>
        <div [formGroup]="form" *ngIf="form">
          <textarea placeholder="Your rationale" formControlName="rationale"></textarea>
        </div>
        <div>
          <app-btn class="right" (onClick)="submit()">Submit</app-btn>
        </div>
      </div>
    </ng-container>
    
    <ng-container *ngSwitchCase="'ERROR'">
      <div class="error-icon"></div>
      <span class="modal-title">Rationale wasn't given</span>
      <span class="label label-after-title">Please give your rationale and try again</span>
      <div class="center">
        <app-btn [grey]="true" (onClick)="back()">Give a rationale</app-btn>
      </div>
    </ng-container>
  </ng-container>

</div>

