.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(4,4,15,0.40);
    z-index: 101;
    padding-bottom: 100px;
    overflow: scroll;
    display: none;

    .modal-content {
        background: #FFFFFF;
        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.05);
        border-radius: 3px;
        padding: 40px 50px 80px;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        margin-top: 100px;
        position: relative;

        .modal-title {
            font-size: 30px;
            text-align: center;
            line-height: 26px;
            width: 100%;
            display: inline-block;
        }

        .label {
            font-size: 15px;
            color: #404956;
            text-align: center;
            line-height: 16px;
            display: inline-block;
            width: 100%;
            margin-bottom: 12px;
        }

        .label-after-title {
            font-size: 13px;
            margin-top: 15px;
            margin-bottom: 35px;
        }

        .select-box {
            margin-top: 30px;
        }

        .btn-wrap {
            .btn {
                min-width: 135px;
            }
        }
    }

    .close-modal {
        width: 50px;
        height: 50px;
        @include backgroundC("icons/close-modal.svg");
        position: absolute;
        top: -50px;
        right: -15px;
    }
}

.checkboxes-modal-wrap {
    display: flex;

    .checkboxes-modal {
        flex: 1;
        margin: 0 10px;
    }
}
