.data-table {
    width: 100%;
    margin-top: 20px;
    table-layout: fixed;

    &.shrinked {
        td, th {
            span {
                width: 100%;
            }
        }
    }

    thead {
        background: $gray;
        th {
            height: 40px;
            text-align: left;
            color: #fff;
            font-size: 11px;
            text-transform: uppercase;
            position: relative;

            &:first-child {
                border-top-left-radius: 3px;
            }

            &:last-child {
                border-top-right-radius: 3px;
            }
        }
    }

    td, th {
        padding-left: 20px;
        height: 50px;
        position: relative;

        &:first-child {
            width: 80px;
        }

        &:last-child {
            padding-right: 20px;
            text-align: right;
            padding-left: 0;

            span {
                width: 100%;
            }
        }

        span {
            display: inline-block;
            width: 80%;
        }

        // .filter-button {
        //     display: flex;
        //     align-items: center;

        //     span {
        //         flex-basis: 0;
        //     }
        // }

        &.sortable {
            cursor: pointer;
        }

        &.sort-open {
            .sort-arrow {
                transform: rotate(180deg);
            }
        }

        .selectable {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            cursor: pointer;
        }

    }

    tbody {
        tr {
            border-bottom: 1px solid #DFE4E6;
            background: #fff;
            cursor: pointer;

            &:last-child {
                border-bottom: 0;
            }

            &.hidden {
                display: none;
            }
        }
    }

    tfoot {
        tr {
            background: #EAEEF0;
            color: $gray;
            font-weight: 700;

            td {
                &:first-child {
                    border-bottom-left-radius: 3px;
                }

                &:last-child {
                    border-bottom-right-radius: 3px;
                }
            }
        }
    }

    .sort-arrow {
        width: 8px;
        height: 8px;
        display: inline-block;
        @include backgroundC("icons/table-filter-arrow.svg");
        margin-left: 4px;
    }
}
