<div class="top-controls">
  <span class="headline-title">{{count}} {{ 'roles.roles' | translate }}</span>
  <a [routerLink]="['/roles/add']" class="btn start">
    <span>{{ 'roles.add_new_role' | translate }}</span>
  </a>
</div>

<app-data-table
  [dataSource]="rolesDataSource"
  [columnsToShow]="rolesColumnsToShow"
  (setFilter)="onSetFilter($event)"
  (openRow)="openRow($event)">
</app-data-table>

<app-pagination 
  [count]="count" 
  [perPage]="pageSize" 
  [page]="page">
</app-pagination>
