<div class="top-controls">
  <span class="headline-title">{{count}} {{ 'roles.roles' | translate }}</span>
  <a [routerLink]="['/roles/add']" class="btn start">
    <span>{{ 'roles.add_new_role' | translate }}</span>
  </a>
</div>

<app-data-table 
  [dataSource]="rolesDataSource" 
  [customRows]="true" 
  [columnsToShow]="rolesColumnsToShow" 
  (setFilter)="onSetFilter($event)">
  <tr *ngFor="let item of rolesDataSource.body"  [routerLink]="['/roles/edit', item.id]">
    <td *ngFor="let index of rolesColumnsToShow">
      {{item[index]}}
    </td>
  </tr>
</app-data-table>

<app-pagination 
  [count]="count" 
  [perPage]="pageSize" 
  [page]="page">
</app-pagination>
