<div class="filter">
  <div class="filter-header">
    <div *ngIf="!_showSearch" class="header-default">
      <div>All</div>
      <div *ngIf="type === 'text'">
        <button
          (click)="_showSearch = !_showSearch"
        >Search</button>
      </div>
    </div>

    <div *ngIf="type === 'text' && _showSearch">
      <input
        type="text"
        [(ngModel)]="_filterSearchText"
      >
      <button
        (click)="cancelSearch()"
      >X</button>
    </div>
  </div>

  <div class="filter-body">
    <ng-container  *ngIf="(type === 'text' || type === 'boolean') && rowData && rowData?.length">
      <div *ngFor="let item of (rowData | filter: _filterSearchText : 'value')">
        <app-checkbox
          [label]="item.label ? item.label : item.value"
          [value]="item.value"
          (onToggle)="onCheckboxToggle($event)"
        ></app-checkbox>
      </div>
    </ng-container>

    <ng-container *ngIf="type === 'date'">
      <ng2-flatpickr
        [config]="_datepickerOptions"
        [(ngModel)]="_filterData.values[0]"
      ></ng2-flatpickr>
      <ng2-flatpickr
        [config]="_datepickerOptions"
        [(ngModel)]="_filterData.values[1]"
      ></ng2-flatpickr>
    </ng-container>

    <ng-container *ngIf="type === 'number'">
      <div>
        <label>From</label>
        <input
          type="number"
          [(ngModel)]="_filterData.values[0]"
          (change)="onNumberRangeChange('min')"
        >
      </div>
      <div>
        <label>To</label>
        <input
          type="number"
          [(ngModel)]="_filterData.values[1]"
          (change)="onNumberRangeChange('max')"
        >
      </div>
    </ng-container>
  </div>

  <div class="filter-footer">
    <div *ngIf="sortable">
      <select
        [(ngModel)]="_filterData.order"
      >
        <option value="">Select ordering</option>
        <option value="asc">A - Z</option>
        <option value="desc">Z - A</option>
      </select>
    </div>
    <div>
      <app-btn
        (onClick)="onFilterChange()"
      >Filter</app-btn>
    </div>
  </div>
</div>