/*.filter {
    border: 1px solid #000;

    .filter-header {
        border-bottom: 1px solid #000;

        .header-default {
            display: flex;
            justify-content: space-between;
        }
    }

    .filter-footer {
        border-top: 1px solid #000;
    }

}*/

.new1 {
    width: 100%!important;
}

.new {
    width: 20%!important;
    float: left!important;
}

.new2 {
    float: right!important;
}

.new3 {
    width: 100%;
    color: #78909C;
}