<div class="filter-sort-box display-block">
  <div class="top-part">
    <div *ngIf="!_showSearch">
      <div *ngIf="type === 'text'" class="search-in-filters new1">
        <span class="title new">{{ 'table.filter.all' | translate }}</span>
        <span class="ico new2" (click)="_showSearch = !_showSearch"></span>
      </div>
    </div>
    <div *ngIf="type === 'text' && _showSearch" class="search-in-filters">
      <div class="search-input  display-block">
        <input type="text" [(ngModel)]="_filterSearchText">
        <a class="close-search" (click)="cancelSearch()"></a>
      </div>
    </div>
  </div>

  <ul class="list-of-filters" *ngIf="(type === 'text' || type === 'boolean') && rowData && rowData?.length">
    <ng-container>
      <li *ngFor="let item of (rowData | filter: _filterSearchText : 'value')">
        <app-checkbox [label]="item.label ? item.label : item.value" [value]="item.value" (onToggle)="onCheckboxToggle($event)"></app-checkbox>
      </li>
    </ng-container>
  </ul>

  <div class="calendar-filter new3" *ngIf="type === 'date'">
    <ng-container>
      <div>
        <label>{{ 'table.filter.from' | translate }}</label>
        <div>
          <mat-form-field class="new3">
            <input matInput [matDatepicker]="picker" [(ngModel)]="_filterData.values[0]" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div>
        <label>{{ 'table.filter.to' | translate }}</label>
        <div>
          <mat-form-field class="new3">
            <input matInput [matDatepicker]="picker2" [(ngModel)]="_filterData.values[1]" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>        
        </div>
      </div>
    </ng-container>
  </div>

  <div class="calendar-filter" *ngIf="type === 'number'">
    <ng-container>
      <div class="form-item-caledar">
        <label>{{ 'table.filter.from' | translate }}</label>
        <div class="search-input">
          <input type="number" [(ngModel)]="_filterData.values[0]" (change)="onNumberRangeChange('min')">
        </div>
      </div>
      <div class="form-item-caledar">
        <label>{{ 'table.filter.to' | translate }}</label>
        <div class="search-input">
          <input type="number" [(ngModel)]="_filterData.values[1]" (change)="onNumberRangeChange('max')">
        </div>
      </div>
    </ng-container>
  </div>


  <div class="bottom-part">
    <div *ngIf="sortable" class="select">
      <select [(ngModel)]="_filterData.order" class="select-box select-hidden">
        <option value="">{{ 'table.filter.select_ordering' | translate }}</option>
        <option value="asc">A - Z</option>
        <option value="desc">Z - A</option>
      </select>
      <div class="select-styled" (click)=isActive()>
        <div>{{name}}</div>
      </div>
      <ul *ngIf="active" class="select-options display-block">
        <li (click)=noSort()>ORDER BY</li>
        <li (click)=sortAsc()>A - Z</li>
        <li (click)=sortDesc()>Z - A</li>
      </ul>
    </div>
    <div>
      <app-btn class="btn thinner" (onClick)="onFilterChange()">{{ 'table.filter.filter' | translate }}</app-btn>
    </div>
  </div>