<div
  class="filter-sort-box"
  (click)="stopPropagation($event)"
>
  <div class="top-part">
    <div *ngIf="!showSearch">
      <div *ngIf="showInputSearch()" class="search-in-filters">
        <span class="title">{{ 'table.filter.all' | translate }}</span>
        <span class="ico" (click)="showSearch = !showSearch"></span>
      </div>
    </div>
    <div *ngIf="showInputSearch() && showSearch" class="search-in-filters">
      <div class="search-input">
        <input [(ngModel)]="filterSearchText" appAutofocus>
        <a class="close-search" (click)="cancelSearch()"></a>
      </div>
    </div>
  </div>

  <!-- preloader -->
  <ul class="list-of-filters" *ngIf="rowData$ && rowDataLoading">
    <li class="with-preloader">
      <div class="preloader">
        <mat-progress-spinner
          mode="indeterminate"
          color="accent"
          strokeWidth="1"
          diameter="25">
        </mat-progress-spinner>
      </div>
    </li>
  </ul>

  <ul class="list-of-filters" *ngIf="rowData && rowData?.length">
    <li *ngFor="let item of (rowData | filter: filterSearchText : 'value')">
      <app-checkbox
        [label]="item.label ? item.label : item.value | translate"
        [value]="item.value"
        (onToggle)="onCheckboxToggle($event)"
      ></app-checkbox>
    </li>
  </ul>

  <div class="calendar-filter calendar" *ngIf="type === 'date'">
    <ng-container>
      <div>
        <label>{{ 'table.filter.from' | translate }}</label>
        <div>
          <mat-form-field color="accent">
            <input
              matInput
              [matDatepicker]="picker1"
              [(ngModel)]="filterData.values[0]"
              [max]="picker1MaxDate"
              (dateChange)="date1Change($event)"
              placeholder="dd/mm/yyyy"
            >
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div>
        <label>{{ 'table.filter.to' | translate }}</label>
        <div>
          <mat-form-field color="accent">
            <input
              matInput
              [matDatepicker]="picker2"
              [(ngModel)]="filterData.values[1]"
              [min]="picker2MinDate"
              (dateChange)="date2Change($event)"
              placeholder="dd/mm/yyyy"
            >
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="calendar-filter" *ngIf="type === 'number' && hasRange">
    <div class="form-item-caledar">
      <label>{{ 'table.filter.from' | translate }}</label>
      <div class="search-input">
        <input type="number" [(ngModel)]="filterData.values[0]" (change)="onNumberRangeChange('min')">
      </div>
    </div>
    <div class="form-item-caledar">
      <label>{{ 'table.filter.to' | translate }}</label>
      <div class="search-input">
        <input type="number" [(ngModel)]="filterData.values[1]" (change)="onNumberRangeChange('max')">
      </div>
    </div>
  </div>


  <div class="bottom-part">
    <div *ngIf="sortable" class="select">
      <select [(ngModel)]="filterData.order" class="select-box select-hidden">
        <option value="">{{ 'table.filter.select_ordering' | translate }}</option>
        <option value="asc">A - Z</option>
        <option value="desc">Z - A</option>
      </select>
      <div class="select-styled" (click)="isActive()">
        <div>
          <ng-container *ngIf="filterData.order === ''">
            ORDER BY
          </ng-container>
          <ng-container *ngIf="filterData.order === 'asc'">
            <ng-container *ngIf="type !== 'number' else ascNumberLabel">A - Z</ng-container>
          </ng-container>
          <ng-container *ngIf="filterData.order === 'desc'">
            <ng-container *ngIf="type !== 'number' else descNumberLabel">Z - A</ng-container>
          </ng-container>
        </div>
      </div>
      <ul *ngIf="active" class="select-options display-block">
        <li (click)="noSort()">ORDER BY</li>
        <li (click)="sortAsc()">
          <ng-container *ngIf="type !== 'number' else ascNumberLabel">A - Z</ng-container>
        </li>
        <li (click)="sortDesc()">
          <ng-container *ngIf="type !== 'number' else descNumberLabel">Z - A</ng-container>
        </li>
      </ul>

      <ng-template #ascNumberLabel>0 - 9</ng-template>
      <ng-template #descNumberLabel>9 - 0</ng-template>
    </div>
    <div>
      <app-btn [thinner]="true" (onClick)="onFilterChange()">{{ 'table.filter.filter' | translate }}</app-btn>
    </div>
  </div>
</div>