<app-page-heading
  [heading]="'instruments.new_instrument' | translate"
></app-page-heading>

<div class="split-content horizontal">
  <app-content-block
    [heading]="'instruments.parameters' | translate"
  >
    
    <form [formGroup]="form">
      <div class="form-item">
        <label class="label-name">
          {{ 'instruments.transaction_asset' | translate }}
        </label>
        <input
          ngui-auto-complete
          formControlName="transaction_asset_id"
          [source]="assets"
          value-formatter="value"
          list-formatter="value"
          max-num-list="15"
          [accept-user-input]="false"
          (valueChanged)="assetValueChanged($event, 'transaction_asset_id')"
        >
        <mat-progress-spinner
          *ngIf="assetsLoading"
          class="progress-spinner"
          mode="indeterminate"
          color="accent"
          strokeWidth="1"
          diameter="25"
        ></mat-progress-spinner>
      </div>

      <div class="form-item">
        <label class="label-name">
          {{ 'instruments.quote_asset' | translate }}
        </label>
        <input
          ngui-auto-complete
          formControlName="quote_asset_id"
          [source]="assets"
          value-formatter="value"
          list-formatter="value"
          max-num-list="15"
          [accept-user-input]="false"
          (valueChanged)="assetValueChanged($event, 'quote_asset_id')"
        >
        <mat-progress-spinner
          *ngIf="assetsLoading"
          class="progress-spinner"
          mode="indeterminate"
          color="accent"
          strokeWidth="1"
          diameter="25"
        ></mat-progress-spinner>
      </div>
    </form>

  </app-content-block>
</div>

<app-form-action-bar>
  <button
    class="btn submit"
    [disabled]="loading"
    (click)="saveInstrument()"
  >{{ 'instruments.add_instrument' | translate }}</button>
</app-form-action-bar>
