<label class="label-name">
  {{ label }}
</label>

<ng-container *ngIf="!select">
  <input
    [type]="type"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    [class.error]="isInvalid()"
    (blur)="onBlur()"
    [readonly]="readonly"
  >
</ng-container>

<ng-container *ngIf="select">
    <input
        ngui-auto-complete
        [source]="source"
        value-formatter="value"
        list-formatter="value"
        [(ngModel)]="value"
        max-num-list="15"
        [accept-user-input]="false"
        (valueChanged)="ValueChanged($event, formControlName)"
        (blur)="onBlur()"
    >
      <mat-progress-spinner
          *ngIf="spinnerLoading"
          class="progress-spinner"
          mode="indeterminate"
          color="accent"
          strokeWidth="1"
          diameter="25"
      ></mat-progress-spinner>
</ng-container>

<app-input-item-error-message
  *ngIf="isInvalid()"
  [errors]="fieldControl?.errors || {}"
></app-input-item-error-message>
