<label class="label-name" *ngIf="label">
  {{ label }}
</label>

<ng-container *ngIf="fieldType === 'input' || !fieldType">
  <input
    [type]="type"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    [class.error]="isInvalid()"
    (blur)="onBlur()"
    [readonly]="readonly"
    [disabled]="disabled"
  >
</ng-container>

<ng-container *ngIf="fieldType === 'select' || fieldType === 'autocomplete'">
  <ng-select
    class="custom"
    [class.disabled]="disabled"
    [(ngModel)]="value"
    [searchable]="fieldType === 'autocomplete'"
    [loading]="spinnerLoading"
    loadingText="Loading..."
    [items]="items"
    (change)="change($event)"
    (open)="listOpen($event)"
    [markFirst]="false"
    bindValue="{{bindValue}}"
    bindLabel="{{bindLabel}}"
    [placeholder]="placeholder"
    [clearable]="!clearable"
  ></ng-select>
</ng-container>

<app-input-item-error-message
  *ngIf="isInvalid()"
  [errors]="fieldControl?.errors || {}"
></app-input-item-error-message>
