<div class="topbar">
  <nav>
    <a routerLink="/dashboard" *ngIf="checkPerm(['VIEW_INVESTMENT_RUN'])">Dashboard</a>
    <a href="#" *ngIf="checkPerm(['ALTER_PERMS'])">Recipe Runs</a>
    <a routerLink="/assets" *ngIf="checkPerm(['CHANGE_ASSET_STATUS'])">Assets</a>
    <a href="#" *ngIf="checkPerm(['EDIT_USERS'])">User Management</a>
    <a routerLink="/roles" *ngIf="checkPerm(['VIEW_ROLES'])">Role Management</a>
    <a href="#" *ngIf="checkPerm(['VIEW_SETTING_VALUES'])">Setting Management</a>
  </nav>
  <div>
    <button (click)="toggleUserMenu()">{{ authService.user.first_name }} {{ authService.user.last_name }} </button>
    <div *ngIf="showUserMenu" class="user-menu">
      <button routerLink="/change_my_info">Change password</button>
      <br>
      <button (click)="logout()">Logout</button>
    </div>
  </div>
</div>

