<header>
  <div class="wrapper">
    <div class="top-header-part">
      <a routerLink="/dashboard" class="logo"></a>
      <div class="user-details">
        <div *ngIf="initials" class="user-initials">{{initials}}</div>
        <div class="user-name-role">
          <span class="name">
            <div>
              <button (click)="toggleUserMenu()">{{ authService.user.first_name }} {{ authService.user.last_name }} </button>
              <div *ngIf="showUserMenu"  class="filter-sort-box display-block">
                  <ul class="bottom-part new">
                    <li class="new2">
                      <button routerLink="/change_my_info">Change password</button>
                    </li>
                    <li class="new2">
                      <button (click)="logout()">Logout</button>
                    </li>
                  </ul>
              </div>
           </div>
          </span>
          <span class="role">Admin</span>
        </div>
      </div>
    </div>
    <div class="navigation-header">
      <nav>
        <a routerLinkActive="active" routerLink="/dashboard" *ngIf="checkPerm(['VIEW_INVESTMENT_RUN'])">Dashboard</a>
        <a routerLinkActive="active" href="#" *ngIf="checkPerm(['ALTER_PERMS'])">Recipe Runs</a>
        <a routerLinkActive="active" routerLink="/assets" *ngIf="checkPerm(['VIEW_ASSETS'])">{{ 'assets.assets' | translate }}</a>
        <a routerLinkActive="active" routerLink="/users" href="#" *ngIf="checkPerm(['EDIT_USERS'])">User Management</a>
        <a routerLinkActive="active" routerLink="/roles" *ngIf="checkPerm(['VIEW_ROLES'])">Role Management</a>
        <a routerLinkActive="active" routerLink="/instruments/all" *ngIf="checkPerm(['VIEW_ROLES'])">{{ 'instruments.instruments' | translate }}</a>
        <a routerLinkActive="active" routerLink="/liquidity_requirements/all" *ngIf="checkPerm(['VIEW_ROLES'])">{{ 'liquidity.liquidity_requirements' | translate }}</a>
        <a routerLinkActive="active" href="#" *ngIf="checkPerm(['VIEW_SETTING_VALUES'])">Setting Management</a>
    </nav>
    </div>
    </div>
</header>