/*.topbar {
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  height: 40px;
  display: flex;
  justify-content: space-between;
}


.user-menu {
  background: #fff;
  position: relative;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  padding: 5px;
}*/

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.new {
  text-align: left;
  background-color: white!important;
}

.new2{
  border-bottom: 1px solid #DFE4E6;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #78909C;
  font-size: small;
}

