<div *ngIf="token.validityChecked">
    <div *ngIf="!token.isValid">
      {{ message }}
    </div>
    <div *ngIf="token.isValid">
      <div class="login-block" *ngIf="token.validityChecked">
        <div class="top">
          <img [src]="imageLogo" class="logo">
        </div>
        <div *ngIf="!done">
          <form [formGroup]="userInfoForm" (ngSubmit)="fulfillInvitation()">
            <div class="part-header">
              <br> {{'auth.invitation.to_able_account_msg' | translate}}
            </div>
            <app-input-item class="form-item with-icons icon-password" [placeholder]="'auth.invitation.new_password_placeholder' | translate" type="password" [formGroup]="userInfoForm"
              formControlName="password">
            </app-input-item>
            <app-input-item class="form-item with-icons icon-password" [placeholder]="'auth.invitation.repeat_password_placeholder' | translate" type="password" [formGroup]="userInfoForm"
              formControlName="password_repeat">
            </app-input-item>
            <p>{{ message }}</p>
            <div class="btn-wrap btn-right">
              <button class="btn" type="submit">{{'common.sign_up' | translate}}</button>
            </div>
          </form>
        </div>
        <div class="new" *ngIf="done">
          <div class="part-header">{{'auth.invitation.set_up_account_msg' | translate}}</div>
          <br>
          <div class="part-header">{{'auth.invitation.login_msg' | translate}}</div>
          <br>
          <button class="btn" routerLink="/login" md-button>{{'common.login' | translate}}</button>
        </div>
      </div>
  </div>
</div>