$black: #000000;
$green: #10A950;
$gray: #78909C;
$red: #FF3058;
$orange: #FF7A00;

body {
    font-size: 13px;
    color: $black;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    min-height: 100%;
    position: relative;
    min-width: 320px;
    background: #F7F9FA;

    @include mobile {
        font-size: 14px;
    }

}

.row:after {
    content: " ";
    display: table;
    clear: both;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    @media all and (max-width: 1140px) {
        padding: 0 15px;
    }
}


main {
    padding-top: 40px;
}

.display-block {
   display: block!important;
}
