body {
    &.sticky-bottom {
        padding-bottom: 130px;
    }
}

.headline-title {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30px;
}

.top-controls {
    display: inline-block;
    width: 100%;
    margin-top: 10px;

    .headline-title {
        float: left;
    }

    .btn {
        float: right;
    }
}

.rejected, .failed, .notfilled, .cancelled {
    color: $red;
}
.pending, .inprogress, .partiallyfilled {
    color: $orange;
}
.approved, .fullyfilled {
    color: $green;
}

.boxShadow {
    background: #FFFFFF;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.05);
    border-radius: 3px;
}

.sticky-controls-bar {
    background: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.05);
    height: 80px;
    padding: 17px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;

    .submit {
        float: right;
        min-width: 150px;
    }
}

.check-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.checkboxes-list {
    margin-top: 20px;
}

.permision-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .checkboxes-item {
        padding: 0 30px;
        border-right: 1px solid #E6EBED;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
            border-right: 0;
        }
    }
}

.calendar-filter {
    background: #fff;
    padding: 10px 15px;

    .input-wrap {
        position: relative;
        &::after {
            content: "";
            width: 15px;
            height: 15px;
            @include backgroundC("icons/calendar.svg");
            position: absolute;
            right: 10px;
            top: 7px;
        }

        &:focus, &:active {
            &::after {
                @include backgroundC("icons/calendar-active.svg");
            }    
        }
    }
}

.calendar {
    label {
        color: black;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 12px;
        text-transform: capitalize;
    }
    input {
        padding-left: 7px;
        color: black;
    }
    .mat-form-field {
        width: 100%;
    }
    .mat-form-field-flex {
        margin-top: 5px;
        border-radius: 3px;
        background-color: #F7F9FA;
        border: 1px solid rgba(120, 144, 156, 0.2);
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
        background: none;
    }
    .mat-form-field-appearance-legacy .mat-form-field-label {
        text-transform: lowercase;
        padding-left: 10px;
        font-size: 12px;
    }
    .mat-form-field-appearance-legacy .mat-form-field-prefix .mat-datepicker-toggle-default-icon, .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
        width: 2em;
        padding-right: 3px;
    }
    .mat-form-field-suffix {
        width: 20%;
    }
    .mat-form-field-underline {
        width: 120%;
    }
   .mat-icon-button{
        margin-bottom: 3px;
        width: 26px;
        height: 26px;
    }
}

// datepicker popup classes
.mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: $green;
}
.mat-calendar-body-cell-content:hover {
    border-color: $green;
}