<app-modal
  (close)="handleReject()"
  [heading]="heading"
  errorIcon="true"
>
 <div class="select-box">
    <div class="label">
      <div class="checkboxes-modal-wrap">
        <app-btn
          class="checkboxes-modal reject"
          [grey]="true"
          (click)="handleReject()"
        >{{ 'common.cancel' | translate }}</app-btn>
        <app-btn
          class="checkboxes-modal confirm"
          (click)="handleConfirm()"
          [loading]="confirmLoading"
          [disabled]="confirmLoading"
        >{{ 'common.confirm' | translate }}</app-btn>
      </div>
    </div>
  </div>
</app-modal>