<form [formGroup]="userForm" (ngSubmit)="updateInfo()">
  <div class="split-content horizontal">
    <app-content-block [heading]="'auth.user_information' | translate">
      <app-input-item
        type="password"
        class="form-item" 
        [label]="'auth.old_password' | translate"
        [placeholder]="'auth.enter_here' | translate"
        [formGroup]="userForm"
        formControlName="old_password"
      ></app-input-item>

      <app-input-item
        type="password"
        class="form-item" 
        [label]="'auth.new_password' | translate"
        [placeholder]="'auth.enter_here' | translate"
        [formGroup]="userForm"
        formControlName="new_password"
      ></app-input-item>

      <app-input-item
        type="password"
        class="form-item" 
        [label]="'auth.repeat_password' | translate"
        [placeholder]="'auth.enter_here' | translate"
        [formGroup]="userForm"
        formControlName="repeat_password"
      ></app-input-item>

      <p>{{ message }}</p>
    </app-content-block>
  </div>

  <app-form-action-bar>
    <div>
      <button
        class="btn submit"
        type="submit"
        [disabled]="loading"
        [appMarkAsTouched]="userForm"
      >{{ 'common.submit' | translate }}</button>
    </div>
  </app-form-action-bar>
</form>