<app-page-heading
  [heading]="'deposits.deposit' | translate"
></app-page-heading>

<div class="left-part-dashboard">
  <app-data-table
    [dataSource]="depositDataSource"
    [columnsToShow]="depositColumnsToShow"
  ></app-data-table>

  <app-action-log
    [title]="'deposits.deposit_management_activity_log' | translate"
    [source]="activityLog"
  ></app-action-log>
</div>

<div class="step-labels-container">
  <app-timeline [timelineEvents]="timeline$ | async"></app-timeline>
</div>

<app-deposit-approve
  #depositApprove
  [depositId]="depositId"
  (updateData)="getDeposit()"
></app-deposit-approve>
