<app-page-heading
  [heading]="'deposits.deposit' | translate"
></app-page-heading>

<div class="left-part-dashboard">
  <app-data-table
    [dataSource]="depositDataSource"
    [columnsToShow]="depositColumnsToShow"
    (setFilter)="onSetFilter($event)"
  ></app-data-table>

  <app-action-log
    [title]="'deposits.deposit_management_activity_log' | translate"
    [source]="activityLog"
  ></app-action-log>
</div>

<div class="step-labels-container">
  <app-timeline [timelineEvents]="timeline$ | async"></app-timeline>
</div>

<app-modal
  *ngIf="showModal"
  [heading]="'deposits.deposit' | translate"
  (close)="hideModal()"
>
  <form [formGroup]="depositForm" (ngSubmit)="confirm()">
    <br>
    <app-input-item
      type="number"
      class="form-item"
      [label]="'deposits.please_specify_amount' | translate"
      [placeholder]="'deposits.placeholder_amount' | translate"
      [formGroup]="depositForm"
      formControlName='Amount'
      name="amount"
      [(ngModel)]="amount"
    ></app-input-item>

    <app-input-item
      type="number"
      class="form-item"
      [label]="'deposits.please_specify_management_fee' | translate"
      [placeholder]="'deposits.placeholder_management_fee' | translate"
      [formGroup]="depositForm"
      formControlName="Management_fee"
      name="management_fee"
      [(ngModel)]="management_fee"
    ></app-input-item>

    <div class="btn-wrap btn-right">
      <br>
      <button class="btn submit" [disabled]="loading2" type="submit">{{'common.confirm' | translate}}</button>
    </div>
  </form>
</app-modal>

<app-confirm
  *ngIf="showConfirm"
  [heading]="'deposits.are_you_sure_want_to_approve' | translate" 
  (onReject)="hideConfirm()"
  (onConfirm)="send()"
></app-confirm>
