<app-page-heading backButton="true">Blacklisting</app-page-heading>

<app-content-block heading="Asset">
  <app-data-table
    [dataSource]="assetsDataSource"
    [columnsToShow]="assetsColumnsToShow"
    [rowBackgroundColor]="rowBackgroundColor"
    [rowTexColor]="rowTexColor"
    (setFilter)="onSetFilter($event)">
  </app-data-table>
</app-content-block>

<div *ngIf="activityLog as log">
  <h2>Blacklisting activity log</h2>
  <p [ngPlural]="log.length">
    <ng-template ngPluralCase="=0">No changes have been done</ng-template>
    <ng-template ngPluralCase="=1">{{ log.length }} change has been done</ng-template>
    <ng-template ngPluralCase="other">{{ log.length }} changes have been done</ng-template>
  </p>
  <p *ngFor="let change of log">
    <small>
      <span>{{ change.timestamp | date:'dd MMM yyyy hh:mm' }}</span>
      <span> - </span>
      <span><b>{{ change.user_id }}</b></span>
      <span> changed </span>
      <span><b>Status</b></span>
      <span> from </span>
      <span>{{ change.prev || 'undefined' }}</span>
      <span> to </span>
      <span>{{ getType(change.type) || 'undefined' }}</span>
      <ng-container *ngIf="change.comment">
        <span> due to </span>
        <span>{{ change.comment || 'undefined' }}</span>
      </ng-container>
    </small>
  </p>
</div>

<app-modal *ngIf="rationaleModelIsShown" (close)="hideRationaleModal()">
  <app-rationale-modal [data]="rationaleData" (close)="submitRationale($event)"></app-rationale-modal>
</app-modal>
