:host() {
  background: rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.wrapper {
  max-width: 400px;

  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
}

.modal-body {
  padding: 25px;
  background: #fff;
  box-shadow: 0 2 6px rgba(0,0,0,0.2);
}