<app-page-heading
  [heading]="'users.add_new_user' | translate"
></app-page-heading>

<form [formGroup]="userForm">
  <div class="split-content">
    <app-content-block 
      heading="User information" 
      class="part boxShadow">

      <app-input-item 
        class="form-item"
        [label]="'users.name' | translate"
        [placeholder]="'users.enter_name' | translate"
        [formGroup]="userForm"
        formControlName="first_name"
      ></app-input-item>

      <app-input-item
        class="form-item"
        [label]="'users.surname' | translate"
        [placeholder]="'users.enter_surname' | translate"
        [formGroup]="userForm"
        formControlName="last_name"
      ></app-input-item>

      <app-input-item
        class="form-item"
        [label]="'users.email' | translate"
        [placeholder]="'users.enter_email' | translate"
        [formGroup]="userForm"
        formControlName="email"
      ></app-input-item>
    </app-content-block>

    <app-content-block 
      [heading]="'users.user_roles' | translate" 
      *ngIf="rolelist"
      class="part boxShadow">
      <app-input-item-error-message
      *ngIf="userForm.controls.role_id.invalid && (userForm.controls.role_id.dirty || userForm.controls.role_id.touched)"
      [errorMessage]="'Role must be selected'"
      ></app-input-item-error-message>
      <div class="check-list" *ngIf="rolelist">
        <div class="checkboxes-item" *ngFor="let role of rolelist">
          <label class="label-name">{{ role.name }}</label>
          <app-button-checkbox 
          class="checkboxes-modal"
          [value]="role.id"
          labelTrue="Select"
          labelFalse="Select"
          (onToggle)="addRole(role)"
        ></app-button-checkbox>
      </div>
    </div>
    </app-content-block>
  </div>
</form>
<div class="sticky-controls-bar">
  <div class="wrapper">
    <button
      class="btn submit"
      [disabled]="loading"
      (click)="saveUser()"
      [appMarkAsTouched]="userForm"
    >{{'common.submit' | translate}}</button>
  </div>
</div>