<div *ngIf="source" class="action-logs">
  <h2 class="title">{{ title }}</h2>

  <p class="title-changes" [ngPlural]="source.length">
    <ng-template ngPluralCase="=0">No changes have been done</ng-template>
    <ng-template ngPluralCase="=1">{{ source.length }} change has been done</ng-template>
    <ng-template ngPluralCase="other">{{ source.length }} changes have been done</ng-template>
  </p>
  
  <p class="log-item" *ngFor="let log of source">
    <span>{{ log.timestamp | date:'dd MMM yyyy hh:mm' }}</span>
    <span> - </span>
    
    <span *ngIf="log.details">{{ log.details }}</span>
    <span *ngIf="log.translationKey" [innerHTML]="log.translationKey | translate: log.translationArgs"></span>

    <label
      *ngIf="log.rationale"
      class="rationale-status"
      (click)="openRationaleModal(log.rationale)"
    >{{ 'common.read' | translate }}</label>
  </p>
</div>

<app-modal
  *ngIf="showRationaleModal"
  class="modal-rationale"
  [heading]="'common.rationale' | translate"
  (close)="hideRationaleModal()"
>
  <div>
    <textarea readonly>{{ rationaleText }}</textarea>
  </div>
  <div>
    <app-btn class="right" (onClick)="hideRationaleModal()">{{ 'common.done' | translate }}</app-btn>
  </div>
</app-modal>